<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <title>Document</title>
  </head>
  <body class="bg-gradient-to-tl from-teal-500 via-white to-gray-800">
    <section class="bg-[#000627] text-white">
      <header class="py-4 shadow-md text-white">
        <div
          class="flex flex-col justify-center items-center md:flex-row md:justify-between mx-8"
        >
          <div class="text-3xl font-bold py-5 md:text-2xl md:w-[60%]">
            <a href="/" class="text-teal-500"> Mualen Technology </a>
          </div>
          <!--  menu -->
          <ul class="flex justify-between flex-1 font-semibold w-full">
            <!-- class="flex justify-between flex-1 font-semibold" -->
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="./about_us.html">About</a>
            </li>
            <li>
              <a href="./services.html">Services</a>
            </li>
            <li>
              <a href="/components/products">Products</a>
            </li>
          </ul>
        </div>
      </header>
    </section>

    <section class="realtive py-8">
      <div class="flex items-center flex-col md:flex-row justify-between">
        <div class="relative mx-4">
          <img src="/img-18.png" class="w-full" alt="" />
          <img
            src="/img-19.png"
            class="w-[30%] absolute top-[30%] left-[70%]"
            alt=""
          />
        </div>
        <div class="px-8">
          <small class="font-black text-sm uppercase">App | Web</small>
          <h1 class="text-2xl">FixiMami</h1>
          <p class="max-w-6xl">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu dui in
            nec viverra ornare. Lectus sed semper auctor imperdiet imperdiet
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu dui in
            nec viverra ornare. Lectus sed semper auctor imperdiet imperdiet
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu dui in
            nec viverra ornare. Lectus sed semper auctor imperdiet imperdiet
          </p>
        </div>
      </div>
    </section>

    <section class="py-8 flex items-center justify-center">
      <div class="flex">
        <div
          class="bg-sky-950 w-[6rem] h-[10.9375rem] md:w-[11rem] md:h-[10.9375rem] flex-shrink-0 rounded-lg"
        >
          <div class="c text-white flex flex-col justify-center">
            <small class="font-bold p-4">APP|WEB</small>
            <h2 class="text-teal-500 font-semibold px-3">Fiximami</h2>
            <p class="text-xs md:text-sm md:px-4">
              Lorem ipsum dolor sit amet, consectetur adipiscing
            </p>
          </div>
        </div>

        <div
          class="w-[6rem] h-[10.9375rem] md:w-[11rem] md:h-[10.9375rem] flex-shrink-0 rounded-lg bg-gray-300 -ml-4 shadow-gray-300 shadow-sm"
        >
          <div class="flex flex-col justify-center">
            <small class="font-bold p-4">APP|WEB</small>
            <h2 class="text-teal-500 font-semibold px-3">Fiximami</h2>
            <p class="text-xs md:text-sm px-4">
              Lorem ipsum dolor sit amet, consectetur adipiscing
            </p>
          </div>
        </div>

        <div
          class="bg-sky-950 w-[6rem] h-[10.9375rem] md:w-[11rem] md:h-[10.9375rem] -ml-4 flex-shrink-0 rounded-lg"
        >
          <div class="c text-white flex flex-col justify-center">
            <small class="font-bold p-4">APP|WEB</small>
            <h2 class="text-teal-500 font-semibold px-3">Fiximami</h2>
            <p class="text-xs md:text-sm px-4">
              Lorem ipsum dolor sit amet, consectetur adipiscing
            </p>
          </div>
        </div>
      </div>
    </section>

    <footer
      class="flex flex-col md:flex-row justify-center md:justify-evenly items-center md:items-start py-10 text-white bg-sky-950"
    >
      <div class="flex flex-col items-center justify-center">
        <h1>Mualen<span class="text-teal-500 text-lg">Tech</span></h1>
        <p>@2022 enterprise village</p>

        <div class="py-4 w-[80%] mx-auto md:mx-0">
          <textarea
            name=""
            id=""
            cols="30"
            rows="5"
            class="w-full"
            placeholder="comments"
          ></textarea>
          <input
            type="email"
            name=""
            id=""
            placeholder="email"
            class="mt-2 w-full"
          />
        </div>
      </div>

      <div class="block list-none py-4">
        <span class="block text-teal-500">
          <a href="#">About Us</a>
        </span>
        <ul>
          <li>
            <a class="link link-hover">MualenTech's Overview & History</a>
          </li>
          <li>
            <a class="link link-hover">Mission, Vision, Our Commitment</a>
          </li>
          <li>
            <a class="link link-hover"
              >Who we are, Our Values, Where We are Headed</a
            >
          </li>
        </ul>
      </div>

      <div class="list-none py-4">
        <span class="block text-teal-500">Product</span>
        <li><a href="/about" class="link link-hover">FixiMami </a></li>
        <li><a href="#" class="link link-hover"> HighSafe</a></li>
        <li><a href="#" class="link link-hover"> CDAS Agency</a></li>
      </div>

      <div class="list-none">
        <span class="footer-title text-teal-500">Contact Us</span>
        <li><a class="link link-hover">mualenteachLTD.com</a></li>
        <li><a class="link link-hover">233 24127 5668</a></li>
      </div>
    </footer>
    <footer
      class="flex flex-col md:flex-row justify-center md:justify-evenly items-center md:items-start py-10 text-white bg-sky-950"
    >
      <div class="flex flex-col items-center justify-center">
        <h1>Mualen<span class="text-teal-500 text-lg">Tech</span></h1>
        <p>@2022 enterprise village</p>

        <div class="py-4 w-[80%] mx-auto md:mx-0">
          <textarea
            name=""
            id=""
            cols="30"
            rows="5"
            class="w-full"
            placeholder="comments"
          ></textarea>
          <input
            type="email"
            name=""
            id=""
            placeholder="email"
            class="mt-2 w-full"
          />
        </div>
      </div>

      <div class="block list-none py-4">
        <span class="block text-teal-500">
          <a href="#">About Us</a>
        </span>
        <ul>
          <li>
            <a class="link link-hover">MualenTech's Overview & History</a>
          </li>
          <li>
            <a class="link link-hover">Mission, Vision, Our Commitment</a>
          </li>
          <li>
            <a class="link link-hover"
              >Who we are, Our Values, Where We are Headed</a
            >
          </li>
        </ul>
      </div>

      <div class="list-none py-4">
        <span class="block text-teal-500">Product</span>
        <li><a href="/about" class="link link-hover">FixiMami </a></li>
        <li><a href="#" class="link link-hover"> HighSafe</a></li>
        <li><a href="#" class="link link-hover"> CDAS Agency</a></li>
      </div>

      <div class="list-none">
        <span class="footer-title text-teal-500">Contact Us</span>
        <li><a class="link link-hover">mualenteachLTD.com</a></li>
        <li><a class="link link-hover">233 24127 5668</a></li>
      </div>
    </footer>
  </body>
</html>
