<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <title>Services</title>
  </head>
  <body>
    <section class="bg-[#000627] text-white">
      <header class="py-4 shadow-md text-white">
        <div
          class="flex flex-col justify-center items-center md:flex-row md:justify-between mx-8"
        >
          <div class="text-3xl font-bold py-5 md:text-2xl md:w-[60%]">
            <a href="/" class="text-teal-500"> Mualen Technology </a>
          </div>
          <!--  menu -->
          <ul class="flex justify-between flex-1 font-semibold w-full">
            <!-- class="flex justify-between flex-1 font-semibold" -->
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="./about_us.html">About</a>
            </li>
            <li>
              <a href="/components/services.html">Services</a>
            </li>
            <li>
              <a href="./products.html">Products</a>
            </li>
          </ul>
        </div>
      </header>

      <section class="mx-8">
        <h1 class="text-6xl font-bold pt-10">Our Services</h1>
        <p class="text-lg py-4">
          Professional
          <span class="text-teal-500">information technology </span>service for
          your company
        </p>
      </section>
    </section>

    <section class="w-[95%] mx-auto">
      <!-- services 1 -->
      <div class="flex flex-col md:flex-row items-center">
        <div>
          <h2 class="text-xl py-4">IT Consulting</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu dui in
            nec viverra ornare. Lectus sed semper auctor imperdiet imperdiet
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu dui in
            nec viverra ornare. Lectus sed semper auctor imperdiet imperdiet
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu dui in
            nec viverra ornare. Lectus sed semper auctor imperdiet imperdiet
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu dui in
            nec viverra ornare. Lectus sed semper auctor imperdiet imperdiet
          </p>
        </div>
        <img src="/img-9.jpg" alt="" />
      </div>

      <!-- services 2 -->
      <div class="flex items-center flex-col-reverse md:flex-row-reverse">
        <div>
          <h2 class="text-xl py-4">Tech Start-up Advisory</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu dui in
            nec viverra ornare. Lectus sed semper auctor imperdiet imperdiet
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu dui in
            nec viverra ornare. Lectus sed semper auctor imperdiet imperdiet
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu dui in
            nec viverra ornare. Lectus sed semper auctor imperdiet imperdiet
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu dui in
            nec viverra ornare. Lectus sed semper auctor imperdiet imperdiet
          </p>
        </div>
        <img src="/img-10.jpg" alt="" />
      </div>

      <!-- service 3 -->
      <div class="flex flex-col md:flex-row items-center">
        <div>
          <h2 class="text-xl py-4">Software Development</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu dui in
            nec viverra ornare. Lectus sed semper auctor imperdiet imperdiet
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu dui in
            nec viverra ornare. Lectus sed semper auctor imperdiet imperdiet
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu dui in
            nec viverra ornare. Lectus sed semper auctor imperdiet imperdiet
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu dui in
            nec viverra ornare. Lectus sed semper auctor imperdiet imperdiet
          </p>
        </div>
        <img src="/img-11.jpg" alt="" />
      </div>

      <!-- services 4 -->
      <div class="flex items-center flex-col-reverse md:flex-row-reverse">
        <div>
          <h2 class="text-xl py-4">Web Design and Development</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu dui in
            nec viverra ornare. Lectus sed semper auctor imperdiet imperdiet
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu dui in
            nec viverra ornare. Lectus sed semper auctor imperdiet imperdiet
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu dui in
            nec viverra ornare. Lectus sed semper auctor imperdiet imperdiet
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu dui in
            nec viverra ornare. Lectus sed semper auctor imperdiet imperdiet
          </p>
        </div>
        <img src="/img-12.jpg" alt="" />
      </div>

      <!-- services 5 -->
      <div class="flex flex-col md:flex-row items-center">
        <div>
          <h2 class="text-xl py-4">Graphics Design</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu dui in
            nec viverra ornare. Lectus sed semper auctor imperdiet imperdiet
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu dui in
            nec viverra ornare. Lectus sed semper auctor imperdiet imperdiet
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu dui in
            nec viverra ornare. Lectus sed semper auctor imperdiet imperdiet
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu dui in
            nec viverra ornare. Lectus sed semper auctor imperdiet imperdiet
          </p>
        </div>
        <img src="/img-13.png" alt="" />
      </div>

      <!-- services 6 -->
      <div class="flex items-center flex-col-reverse md:flex-row-reverse">
        <div>
          <h2 class="text-xl py-4">Hardware Maintenance and Repairs</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu dui in
            nec viverra ornare. Lectus sed semper auctor imperdiet imperdiet
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu dui in
            nec viverra ornare. Lectus sed semper auctor imperdiet imperdiet
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu dui in
            nec viverra ornare. Lectus sed semper auctor imperdiet imperdiet
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu dui in
            nec viverra ornare. Lectus sed semper auctor imperdiet imperdiet
          </p>
        </div>
        <img src="/img-14.jpg" class="max-w-3xl" alt="" />
      </div>

      <!-- services 7 -->
      <div class="flex flex-col md:flex-row items-center">
        <div>
          <h2 class="text-xl py-4">Electronics Design / Manufacturing</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu dui in
            nec viverra ornare. Lectus sed semper auctor imperdiet imperdiet
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu dui in
            nec viverra ornare. Lectus sed semper auctor imperdiet imperdiet
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu dui in
            nec viverra ornare. Lectus sed semper auctor imperdiet imperdiet
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu dui in
            nec viverra ornare. Lectus sed semper auctor imperdiet imperdiet
          </p>
        </div>
        <img src="/img-15.jpg" alt="" />
      </div>

      <!-- services 8 -->
      <div class="flex items-center flex-col-reverse md:flex-row-reverse">
        <div>
          <h2 class="text-xl py-4">Web Design and Development</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu dui in
            nec viverra ornare. Lectus sed semper auctor imperdiet imperdiet
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu dui in
            nec viverra ornare. Lectus sed semper auctor imperdiet imperdiet
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu dui in
            nec viverra ornare. Lectus sed semper auctor imperdiet imperdiet
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu dui in
            nec viverra ornare. Lectus sed semper auctor imperdiet imperdiet
          </p>
        </div>
        <img src="/img-16.jpg" alt="" />
      </div>

      <!-- services 9 -->
      <div class="flex flex-col md:flex-row items-center">
        <div>
          <h2 class="text-xl py-4">Web Design and Development</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu dui in
            nec viverra ornare. Lectus sed semper auctor imperdiet imperdiet
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu dui in
            nec viverra ornare. Lectus sed semper auctor imperdiet imperdiet
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu dui in
            nec viverra ornare. Lectus sed semper auctor imperdiet imperdiet
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu dui in
            nec viverra ornare. Lectus sed semper auctor imperdiet imperdiet
          </p>
        </div>
        <img src="/img-17.jpg" alt="" />
      </div>
    </section>

    <footer
      class="flex flex-col md:flex-row justify-center md:justify-evenly items-center md:items-start py-10 text-white bg-sky-950"
    >
      <div class="flex flex-col items-center justify-center">
        <h1>Mualen<span class="text-teal-500 text-lg">Tech</span></h1>
        <p>@2022 enterprise village</p>

        <div class="py-4 w-[80%] mx-auto md:mx-0">
          <textarea
            name=""
            id=""
            cols="30"
            rows="5"
            class="w-full"
            placeholder="comments"
          ></textarea>
          <input
            type="email"
            name=""
            id=""
            placeholder="email"
            class="mt-2 w-full"
          />
        </div>
      </div>

      <div class="block list-none py-4">
        <span class="block text-teal-500">
          <a href="#">About Us</a>
        </span>
        <ul>
          <li>
            <a class="link link-hover">MualenTech's Overview & History</a>
          </li>
          <li>
            <a class="link link-hover">Mission, Vision, Our Commitment</a>
          </li>
          <li>
            <a class="link link-hover"
              >Who we are, Our Values, Where We are Headed</a
            >
          </li>
        </ul>
      </div>

      <div class="list-none py-4">
        <span class="block text-teal-500">Product</span>
        <li><a href="/about" class="link link-hover">FixiMami </a></li>
        <li><a href="#" class="link link-hover"> HighSafe</a></li>
        <li><a href="#" class="link link-hover"> CDAS Agency</a></li>
      </div>

      <div class="list-none">
        <span class="footer-title text-teal-500">Contact Us</span>
        <li><a class="link link-hover">mualenteachLTD.com</a></li>
        <li><a class="link link-hover">233 24127 5668</a></li>
      </div>
    </footer>
    <footer
      class="flex flex-col md:flex-row justify-center md:justify-evenly items-center md:items-start py-10 text-white bg-sky-950"
    >
      <div class="flex flex-col items-center justify-center">
        <h1>Mualen<span class="text-teal-500 text-lg">Tech</span></h1>
        <p>@2022 enterprise village</p>

        <div class="py-4 w-[80%] mx-auto md:mx-0">
          <textarea
            name=""
            id=""
            cols="30"
            rows="5"
            class="w-full"
            placeholder="comments"
          ></textarea>
          <input
            type="email"
            name=""
            id=""
            placeholder="email"
            class="mt-2 w-full"
          />
        </div>
      </div>

      <div class="block list-none py-4">
        <span class="block text-teal-500">
          <a href="#">About Us</a>
        </span>
        <ul>
          <li>
            <a class="link link-hover">MualenTech's Overview & History</a>
          </li>
          <li>
            <a class="link link-hover">Mission, Vision, Our Commitment</a>
          </li>
          <li>
            <a class="link link-hover"
              >Who we are, Our Values, Where We are Headed</a
            >
          </li>
        </ul>
      </div>

      <div class="list-none py-4">
        <span class="block text-teal-500">Product</span>
        <li><a href="/about" class="link link-hover">FixiMami </a></li>
        <li><a href="#" class="link link-hover"> HighSafe</a></li>
        <li><a href="#" class="link link-hover"> CDAS Agency</a></li>
      </div>

      <div class="list-none">
        <span class="footer-title text-teal-500">Contact Us</span>
        <li><a class="link link-hover">mualenteachLTD.com</a></li>
        <li><a class="link link-hover">233 24127 5668</a></li>
      </div>
    </footer>
  </body>
</html>
