<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <title>About us</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <section class="bg-[#000627] text-white">
      <header class="py-4 text-white">
        <div class="flex justify-between items-center mx-8">
          <div class="text-2xl font-bold w-[70%]">
            <a href="/" class="text-teal-500"> Mualen Technology </a>
          </div>
          <!-- Desktop menu -->
          <ul class="flex justify-between flex-1 font-semibold">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/components/about_us.html">About</a>
            </li>
            <li>
              <a href="/service">Services</a>
            </li>
            <li>
              <a href="/products">Products</a>
            </li>
            <li>
              <a href="/faq">FAQ</a>
            </li>
          </ul>
        </div>
      </header>

      <section class="mx-8">
        <h1 class="text-6xl font-bold pt-10">About Us</h1>
        <p class="text-lg py-4">
          Professional
          <span class="text-teal-500">information technology </span>service for
          your company
        </p>
      </section>
    </section>

    <!-- who we are -->
    <section class="py-4">
      <div class="mb-8 mx-auto w-[90%]">
        <h2 class="capitalize text-3xl font-semibold">who are we:</h2>
        <p class="">
          <span class="">
            MualenTech LTD is a multi-faceted Tech company with expertise in
            software applications, tech devices, hardware maintenance and
            repairs and electronics designs and manufacturing.
          </span>
          <span>
            With a team of socially driven impacted individuals starting a
            revolution in changing the face of the african continent with tech
            solutions
          </span>
        </p>
      </div>
    </section>

    <!-- our mission, vision, commitment  -->

    <section>
      <h2 class="font-black text-4xl my-6 flex justify-center underline">
        Core Values
      </h2>

      <div class="w-[95%] mx-auto py-4">
        <div class="flex items-center flex-row space-x-7">
          <div class="">
            <h3 class="text-teal-500 font-semibold capitalize text-2xl py-4">
              our mission
            </h3>
            <p class="text-lg">
              MualenTech LTD is a multi-faceted Tech company that seeks to be
              the leading socially impacted tech company especially on the
              african continent. With a multi-disciplinary approach, we satisfy
              the needs of our clients through the broad range of services we
              offer.
            </p>
          </div>
          <div class="h-52 bg-teal-500 w-8"></div>
          <img src="/img-4.jpg" class="max-w-3xl rounded-2xl" />
        </div>

        <div class="flex items-center flex-row-reverse space-x-7 my-8">
          <div class="ml-4">
            <h3 class="text-teal-500 font-semibold capitalize text-2xl py-4">
              our vision
            </h3>
            <p class="text-lg">
              Through the innovations of tech solutions, MualenTech wishes to be
              recognized especially on the african continent as the leading
              socially impacted tech company that offers decent work and
              economic, financial stability.
            </p>
          </div>
          <div class="h-52 bg-teal-500 w-8"></div>
          <img src="/img-5.jpg" class="max-w-3xl rounded-2xl" />
        </div>

        <div class="flex flex-col items-center sm:flex-row sm:space-x-7">
          <div class="sm:max-w-3xl">
            <h3 class="text-teal-500 font-semibold capitalize text-2xl py-4">
              our commitment
            </h3>
            <p>
              We are highly known in allowing <strong>FEAR</strong> be our
              <strong>MOTIVATOR</strong> but not letting it be our
              <strong>CAPTOR</strong> in our various services we offer and tech
              related innovations. We are committed in maintaining self-respect,
              being consistent,bringing your curiosity to light and treating
              communication as the epitome of our services
            </p>
          </div>
          <div class="h-52 bg-teal-500 w-8"></div>
          <img src="/img-6.jpg" class="max-w-3xl rounded-2xl" alt="" />
        </div>

        <div class="flex justify-evenly mt-10">
          <div class="w-full">
            <h3 class="text-teal-500 font-semibold capitalize text-2xl">
              who we are
            </h3>
            <p class="text-lg">
              Who We Are: A team of socially driven impacted individuals
              starting a revolution in changing the face of the african
              continent with tech solutions.
            </p>
          </div>
          <div class="w-full">
            <h3 class="text-teal-500 font-semibold capitalize text-2xl">
              our values
            </h3>
            <p class="text-lg">
              Our core values include making an impact, maintaining, integrity,
              team work and pursuing excellence.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <section
        class="relative py-10 bg-[url('/img-7.png')] bg-no-repeat bg-white/80 bg-blend-overlay bg-center bg-cover"
      >
        <h2
          class="capitalize text-teal-500 py-5 font-bold text-3xl ml-4 flex justify-center"
        >
          Awards and Reconginiton
        </h2>

        <div class="relative w-[90%] mx-auto">
          <div class="bg-[#000627] w-[30%] h-[500px]"></div>
          <img
            src="/img-1.png"
            class="w-[40%] h-[90%] outline outline-white outline-[15px] object-cover absolute top-7 left-[10%]"
            alt=""
          />
          <div class="absolute top-[50%] left-[40%] bg-white h-[8rem] py-4">
            <p class="mx-8 text-2xl">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Dignissimos nihil incidunt enim earum voluptatum ad recusandae
              pariatur quidem maiores temporibus.
            </p>
          </div>
        </div>

        <div class="relative w-[90%] mx-auto my-10">
          <div class="absolute top-[50%] bg-white h-[8rem] py-4 z-20 w-[70%]">
            <p class="mx-8 text-2xl">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Dignissimos nihil incidunt enim earum voluptatum ad recusandae
              pariatur quidem maiores temporibus.
            </p>
          </div>
          <img
          src="/img-1.png"
          class="w-[40%] h-[90%] outline outline-white outline-[15px] object-cover absolute top-7 left-[50%] z-10"
          alt=""
          />
          <div class="bg-[#000627] w-[30%] h-[500px] relative left-[70%]  "></div>
        </div>
      </section>

      <section>
        <h2 class="flex justify-center py-8 font-bold text-teal-500 text-3xl">
          Our Team
        </h2>

        <div class="grid gap-5 sm:grid-cols-3 w-11/12 mx-auto">
          <div class="flex flex-col items-center">
            <img src="/jr.png" alt="" />
            <div className="flex flex-col i">
              <p class="text-gray-900 text-xl">Mr Mualen Baada Jerry</p>
              <small class="text-teal-500">
                Chief Executive Officer (CEO)
              </small>
            </div>
          </div>

          <div class="flex flex-col items-center">
            <img src="/al.png" alt="" />
            <div className="flex flex-col i">
              <p class="text-gray-900 text-xl">Ms Yacoba .A. Hagan Alfred</p>
              <small class="text-teal-500">
                Human Resource Manger (HR) | Frontend Developer
              </small>
            </div>
          </div>

          <div class="flex flex-col items-center">
            <img src="/be.png" alt="" />
            <div className="flex flex-col i">
              <p class="text-gray-900 text-xl">Mr Mr Fenuku Bernard</p>
              <small class="text-teal-500">UI/UX Desinger |</small>
            </div>
          </div>

          <div class="flex flex-col items-center">
            <img src="/sa.png" alt="" />
            <div className="flex flex-col i">
              <p class="text-gray-900 text-xl">Mr Elijah Nansuuri Santa</p>
              <small class="text-teal-500"> Product Manager (Hardware) </small>
            </div>
          </div>
        </div>
      </section>
    </section>

    <!-- contact us -->
    <section class="mt-5">
      <div class="p-4 overflow-y-auto bg-white w-full dark:bg-gray-800">
        <h1 class="capitalize text-white font-black text-3xl py-8">
          contact us
        </h1>
        <form action="#" class="mb-6">
          <div class="mb-6">
            <label
              for="email"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
            >
              Your email
            </label>
            <input
              type="email"
              id="email"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="name@company.com"
              required
            />
          </div>
          <div class="mb-6">
            <label
              for="subject"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
            >
              Subject
            </label>
            <input
              type="text"
              id="subject"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Let us know how we can help you"
              required
            />
          </div>
          <div class="mb-6">
            <label
              for="message"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400"
            >
              Your message
            </label>
            <textarea
              id="message"
              rows="4"
              class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Your message..."
            ></textarea>
          </div>
          <button
            type="submit"
            class="text-white bg-blue-700 hover:bg-blue-800 w-full focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 block"
          >
            Send message
          </button>
        </form>
      </div>
    </section>
    <footer></footer>
  </body>
</html>
